{
  "x-generator": "NSwag v13.1.6.0 (NJsonSchema v10.0.28.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Pricing API",
    "version": "1.0"
  },
  "host": "ovhwedev-web001.ch001-ov-h.identity.msc.com",
  "basePath": "/pri/v1",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accessorialChargeCodes": {
      "get": {
        "tags": [
          "Accessorial Charge Codes"
        ],
        "summary": "Get accessorial charge code list.",
        "operationId": "AccessorialChargeCodes_SearchAccessorialChargeCode",
        "parameters": [
          {
            "type": "integer",
            "name": "accessorialChargeCodeId",
            "in": "query",
            "description": "Gets or sets the Charge code identifier.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "mscCode",
            "in": "query",
            "description": "Gets or sets the MscCode.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "shortDescription",
            "in": "query",
            "description": "Gets or sets the short description.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "description",
            "in": "query",
            "description": "Gets or sets the description.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "accessorialChargeCodeTypeId",
            "in": "query",
            "description": "Gets or sets the charge code type identifier.",
            "format": "byte",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "accessorialChargeCodeTariffApplicableAtId",
            "in": "query",
            "description": "Gets or sets the charge code tariff applicable at identifier.",
            "format": "byte",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "asOfDate",
            "in": "query",
            "description": "Gets or sets as of date.",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "additionalFields",
            "in": "query",
            "description": "Gets or sets the additional fields.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "onlyValidChargeCodes",
            "in": "query",
            "description": "Gets or sets the only valid charge codes.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isGlobal",
            "in": "query",
            "description": "Gets or sets a value indicating whether this instance is global.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isLocal",
            "in": "query",
            "description": "Gets or sets a value indicating whether this instance is local.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "Gets or sets the size of the page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageIndex",
            "in": "query",
            "description": "Gets or sets the index of the page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The accessorial charge codes matching the given parameters.",
            "schema": {
              "$ref": "#/definitions/PageResponse"
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/accessorialChargeCodes/{chargeCodeId}": {
      "get": {
        "tags": [
          "Accessorial Charge Codes"
        ],
        "summary": "Get specific charge code details.",
        "operationId": "AccessorialChargeCodes_GetAccessorialChargeCode",
        "parameters": [
          {
            "type": "integer",
            "name": "chargeCodeId",
            "in": "path",
            "required": true,
            "description": "The charge code identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "additionalFields",
            "in": "query",
            "description": "The additionalFields contains on demand objects key.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Return charge code.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PortGroupDto"
              }
            }
          }
        }
      }
    },
    "/acrRevision": {
      "post": {
        "tags": [
          "[NotSet] - Accessorial charge rate revisions"
        ],
        "summary": "Create an accessorial charge rate revision",
        "operationId": "AccessorialChargeRateHistory_Create",
        "parameters": [
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "description": "The user who save rate",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "description": "The revision task to create",
            "schema": {
              "$ref": "#/definitions/CreateAccessorialChargeRateHistoryQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "400": {
            "description": ""
          }
        }
      }
    },
    "/acrRevision/accessorialChargeRateRevisionSearch": {
      "post": {
        "tags": [
          "[NotSet] - Accessorial charge rate revisions"
        ],
        "summary": "Get a list of accessorial charge rate revision",
        "operationId": "AccessorialChargeRateHistory_Get",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "description": "The revision task to create",
            "schema": {
              "$ref": "#/definitions/AccessorialChargeRateHistoryQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccessorialChargeRateHistoryDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/acrRevision/impactedRateCard": {
      "get": {
        "tags": [
          "[NotSet] - Accessorial charge rate revisions"
        ],
        "summary": "Get a list of impacted rate cards that belongs to revision task",
        "operationId": "AccessorialChargeRateHistory_GetImpactedRateCardAll",
        "parameters": [
          {
            "type": "integer",
            "name": "accessorialChargeRateHistoryId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "impactedRateCardType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/OceanRateCardType"
            },
            "x-nullable": false,
            "enum": [
              "SVC",
              "Tariff",
              "SpecialQuote"
            ]
          },
          {
            "type": "integer",
            "name": "pageIndex",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccessorialChargeRateHistoryImpactedRateCardDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/acrRevision/freightPricingRuleIds": {
      "get": {
        "tags": [
          "[NotSet] - Accessorial charge rate revisions"
        ],
        "summary": "Get a list of impacted rate cards that belongs to revision task",
        "operationId": "AccessorialChargeRateHistory_GetImpactedRateCard",
        "parameters": [
          {
            "type": "integer",
            "name": "accessorialChargeRateHistoryId",
            "in": "query",
            "required": true,
            "description": "The revision task id",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "oceanRateCardId",
            "in": "query",
            "required": true,
            "description": "The ocean rate card id",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/accessorialChargeRatePackages/{id}": {
      "get": {
        "tags": [
          "[NotSet] - Accessorial Charge Rate Packages"
        ],
        "summary": "Get Accessorial Charge Rate Package by ID",
        "operationId": "AccessorialChargeRatePackages_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier of the accessorial charge rate package",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The accessorial charge rate package matching the given identifier.",
            "schema": {
              "$ref": "#/definitions/AccessorialChargeRatePackageDto"
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/accessorialChargeRatePackages": {
      "post": {
        "tags": [
          "[NotSet] - Accessorial Charge Rate Packages"
        ],
        "summary": "Create Package",
        "operationId": "AccessorialChargeRatePackages_Create",
        "parameters": [
          {
            "name": "accessorialChargeRatePackageDto",
            "in": "body",
            "required": true,
            "description": "The creation information",
            "schema": {
              "$ref": "#/definitions/AccessorialChargeRatePackageDto"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "From",
            "in": "header",
            "required": true,
            "description": "The user name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OperationResultDtoOfAccessorialChargeRatePackageDto"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/accessorialChargeRatePackages/{id}/{isRemove}": {
      "put": {
        "tags": [
          "[NotSet] - Accessorial Charge Rate Packages"
        ],
        "summary": "Update Package",
        "operationId": "AccessorialChargeRatePackages_Update",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "package id",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "accessorialChargeRatePackageDto",
            "in": "body",
            "required": true,
            "description": "The updation information",
            "schema": {
              "$ref": "#/definitions/AccessorialChargeRatePackageDto"
            },
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isRemove",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "From",
            "in": "header",
            "required": true,
            "description": "The user name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OperationResultDtoOfAccessorialChargeRatePackageDto"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/accessorialChargeRatePackages/packages": {
      "get": {
        "tags": [
          "[NotSet] - Accessorial Charge Rate Packages"
        ],
        "summary": "Get all packages",
        "operationId": "AccessorialChargeRatePackages_GetAllPackages",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The created accessorial charge entry",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccessorialChargeRatePackageDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/accessorialChargeRatePackages/packageSummary": {
      "get": {
        "tags": [
          "[NotSet] - Accessorial Charge Rate Packages"
        ],
        "summary": "Get all package summary",
        "operationId": "AccessorialChargeRatePackages_GetAllPackageSummary",
        "parameters": [
          {
            "type": "string",
            "name": "accessorialPackageName",
            "in": "query",
            "description": "Search based on accessorial charge rate package name.",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "accessorialChargeIds",
            "in": "query",
            "description": "Collection of accessorial charge rate ids from the query result.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "Number of accessorial packages to return.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageIndex",
            "in": "query",
            "description": "Index of page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of accessorial packages",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccessorialPackageSummaryDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/applicableAccessorialChargeRates": {
      "post": {
        "tags": [
          "[NotSet] - Applicable Accessorial Charge Rates"
        ],
        "summary": "Get Applicable Accessorial Charge Rates",
        "description": "Returns the accessorial charge rates that apply to the given parameters.",
        "operationId": "ApplicableAccessorialChargeRates_Get",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "description": "The query parameters.",
            "schema": {
              "$ref": "#/definitions/ApplicableAccessorialChargeRateQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The accessorial charge rates applicable to the given parameters.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicableAccessorialChargeRateGroupDtoV3"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssue"
              }
            }
          }
        }
      }
    },
    "/applicableRateCardReferences": {
      "get": {
        "tags": [
          "[NotSet] - Applicable Rate Card References"
        ],
        "summary": "Get Applicable Ocean Rate Card References",
        "description": "Returns ocean rate card references that apply to the given parameters.",
        "operationId": "ApplicableOceanRateCardReferences_Get",
        "parameters": [
          {
            "type": "array",
            "name": "rateHolders",
            "in": "query",
            "description": "Identifiers of rate holder to at least one of which the rates must apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "portOfLoadingIds",
            "in": "query",
            "description": "Identifiers of ports of loading (POL) to at least one of which the rates must apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "portOfDischargeIds",
            "in": "query",
            "description": "Identifiers of ports of discharge (POD) to at least one of which the rates must apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "internalReferences",
            "in": "query",
            "description": "Internal references of specific rate cards in which to search for rates.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "validAfter",
            "in": "query",
            "description": "Starting date of the time interval during which the rates must be valid.",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "validBefore",
            "in": "query",
            "description": "End date of the time interval during which the rates must be valid.",
            "format": "date",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OceanRateCardSummaryDto"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssue"
              }
            }
          }
        }
      }
    },
    "/arbitraryChargeRates/arbitraryChargeSearch": {
      "post": {
        "tags": [
          "[NotSet] - Arbitrary Charge Rate"
        ],
        "summary": "Get Arbitrary rates from query",
        "operationId": "ArbitraryAccessorialChargeRates_Get",
        "parameters": [
          {
            "name": "arbitraryRateQuery",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArbitraryRateQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The accessorial charge rates entry matching the query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArbitraryAccessorialChargeRateDto"
              }
            }
          }
        }
      }
    },
    "/arbitraryChargeRates": {
      "post": {
        "tags": [
          "[NotSet] - Arbitrary Charge Rate"
        ],
        "summary": "Create an arbitrary rate card",
        "operationId": "ArbitraryAccessorialChargeRates_Create",
        "parameters": [
          {
            "name": "arbitraryChargeRate",
            "in": "body",
            "required": true,
            "description": "The arbitrary charge rate to create",
            "schema": {
              "$ref": "#/definitions/ArbitraryAccessorialChargeRateDto"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "From",
            "in": "header",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArbitraryAccessorialChargeRateDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArbitraryAccessorialChargeRateDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "[NotSet] - Arbitrary Charge Rate"
        ],
        "summary": "Delete the matching rates.",
        "operationId": "ArbitraryAccessorialChargeRates_DeleteFoundRates",
        "parameters": [
          {
            "name": "arbitraryRateQuery",
            "in": "body",
            "required": true,
            "description": "The query to select the rates to delete.",
            "schema": {
              "$ref": "#/definitions/ArbitraryRateQuery"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "From",
            "in": "header",
            "required": true,
            "description": "The user name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/arbitraryChargeRates/validityRange": {
      "post": {
        "tags": [
          "[NotSet] - Arbitrary Charge Rate"
        ],
        "summary": "Get rates validity range.",
        "operationId": "ArbitraryAccessorialChargeRates_GetValidityRange",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "description": "The query to select the rates to close.",
            "schema": {
              "$ref": "#/definitions/ArbitraryRateQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArbitraryAccessorialChargeRateValidityRangeDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/arbitraryChargeRates/close": {
      "post": {
        "tags": [
          "[NotSet] - Arbitrary Charge Rate"
        ],
        "summary": "Get rates validity range.",
        "operationId": "ArbitraryAccessorialChargeRates_CloseFoundRates",
        "parameters": [
          {
            "name": "command",
            "in": "body",
            "required": true,
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/CloseFoundArbitraryAccessorialChargeRateCommandDto"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "From",
            "in": "header",
            "required": true,
            "description": "The user name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UpdateArbitraryAccessorialChargeRateValidToResultDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/arbitraryRateCard/{id}": {
      "get": {
        "tags": [
          "[NotSet] - Arbitrary Rate Card"
        ],
        "summary": "Get Arbitrary Rate Card by ID",
        "operationId": "ArbitraryRateCard_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier of the accessorial charge entry",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The accessorial charge entry matching the given identifier.",
            "schema": {
              "$ref": "#/definitions/ArbitraryRateCardDto"
            }
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "[NotSet] - Arbitrary Rate Card"
        ],
        "summary": "Update an arbitrary rate card",
        "operationId": "ArbitraryRateCard_Update",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "updateArbitraryRateCardCommand",
            "in": "body",
            "required": true,
            "description": "update the arbitrary rate",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateArbitraryRateCardDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "description": "ID of the user updating the card",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArbitraryRateCardDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArbitraryRateCardDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/arbitraryRateCard": {
      "get": {
        "tags": [
          "[NotSet] - Arbitrary Rate Card"
        ],
        "summary": "Create the arbitrary rate card summaries which match the query.",
        "operationId": "ArbitraryRateCard_GetSummaries",
        "parameters": [
          {
            "type": "string",
            "name": "reference",
            "in": "query",
            "description": "Reference of arbitrary rate card to which the resulting arbitrary rate card can apply.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "applicability",
            "in": "query",
            "description": "Applicability of arbitrary rate card.",
            "x-schema": {
              "$ref": "#/definitions/ArbitraryRateCardApplicability"
            },
            "x-nullable": true,
            "enum": [
              "TransportAdditionalOrigin",
              "TransportAdditionalDestination"
            ]
          },
          {
            "type": "array",
            "name": "loadingScope",
            "in": "query",
            "description": "List of loading scope to which the resulting arbitrary rate card can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "dischargingScope",
            "in": "query",
            "description": "List of discharging scope to which the resulting arbitrary rate card can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "updatedOn",
            "in": "query",
            "description": "Date and time of rate card last update",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "updatedBy",
            "in": "query",
            "description": "User who last updated the rate card",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "arbitraryRateCardGroup",
            "in": "query",
            "description": "Group of arbitrary rate card.",
            "x-schema": {
              "$ref": "#/definitions/AccessorialChargeRateGroup"
            },
            "x-nullable": true,
            "enum": [
              "Ocean",
              "Intermodal",
              "ContainerRental"
            ]
          },
          {
            "type": "string",
            "name": "validOn",
            "in": "query",
            "description": "Date and time of rate card and rate",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "arbitraryAccessorialChargeIds",
            "in": "query",
            "description": "List of accessorial charges to which the resulting arbitrary rate card can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "dryPortsSource",
            "in": "query",
            "description": "List of dry ports scope to which the resulting arbitrary rate card can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "basePortsSource",
            "in": "query",
            "description": "List of base ports scope to which the resulting arbitrary rate card can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "feederPortsSource",
            "in": "query",
            "description": "List of feeder ports scope to which the resulting arbitrary rate card can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "integer",
            "name": "pageIndex",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArbitraryRateCardSummaryDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "[NotSet] - Arbitrary Rate Card"
        ],
        "summary": "Create an arbitrary rate card",
        "operationId": "ArbitraryRateCard_Create",
        "parameters": [
          {
            "name": "createArbitraryRateCardCommand",
            "in": "body",
            "required": true,
            "description": "The arbitrary rate to create",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateArbitraryRateCardDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "description": "ID of the user creating the card",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArbitraryRateCardDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArbitraryRateCardDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/arbitraryRateCard/references": {
      "get": {
        "tags": [
          "[NotSet] - Arbitrary Rate Card"
        ],
        "summary": "Get Internal References of Arbitrary Rate Card",
        "operationId": "ArbitraryRateCard_GetReferencesFromSearchRateCardReference",
        "parameters": [
          {
            "type": "string",
            "name": "searchRateCardReference",
            "in": "query",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of internal reference code",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/changeLogAggregates/{aggregateObject}/{objectKeyId}": {
      "get": {
        "tags": [
          "[NotSet] - Change Log Aggregate"
        ],
        "summary": "Get Aggregate Object.",
        "operationId": "ChangeLogAggregate_Get",
        "parameters": [
          {
            "type": "string",
            "name": "aggregateObject",
            "in": "path",
            "required": true,
            "description": "The aggregate Object.",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "objectKeyId",
            "in": "path",
            "required": true,
            "description": "The object Key Id.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Return response.",
            "schema": {
              "$ref": "#/definitions/ForeignAggregateDetail"
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/expectedOceanFreightRateAccessorialChargeConfigurations": {
      "post": {
        "tags": [
          "[NotSet] - Ocean Freight Rate Accessorial Charge Configurations"
        ],
        "summary": "Get Expected Ocean Freight Rate Accessorial Charge Configurations",
        "operationId": "ExpectedOceanFreightRateAccessorialChargeConfigurations_GetAccessorialChargeConfigurations",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "description": "The query parameters",
            "schema": {
              "$ref": "#/definitions/ApplicableAccessorialChargeRateQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The accessorial charge rates applicable to the given parameters",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FreightRateAccessorialChargeRuleDto"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Ocean Freight Rate Accessorial Charge Configurations"
        ],
        "summary": "Get Expected inherited accessorial charge configurations",
        "operationId": "ExpectedOceanFreightRateAccessorialChargeConfigurations_GetInheritedAccessorialChargeConfigurations",
        "parameters": [
          {
            "type": "integer",
            "name": "oceanRateCardId",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OceanRateCardAccessorialChargeConfigurationDto"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRuleState/{id}/approve": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule State"
        ],
        "summary": "Approve the freight pricing rule",
        "operationId": "FreightPricingRuleState_Approve",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "ruleStatusDto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRuleStatusDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRuleState/{id}/reject": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule State"
        ],
        "summary": "Reject the freight pricing rule",
        "operationId": "FreightPricingRuleState_Reject",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "ruleStatusDto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRuleStatusDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRuleState/approve": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule State"
        ],
        "summary": "Approve the freight pricing rules by their ids.",
        "operationId": "FreightPricingRuleState_Approval",
        "parameters": [
          {
            "name": "ids",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRuleState/reject": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule State"
        ],
        "summary": "Reject the freight pricing rules by their ids.",
        "operationId": "FreightPricingRuleState_RejectMultipleRules",
        "parameters": [
          {
            "name": "ruleStatusDto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRuleStatusDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "Health_Get",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "\"OK\" when health check passed.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "tags": [
          "[NotSet] - Background tasks"
        ],
        "summary": "Create and launch a new long-running task",
        "operationId": "BackgroundTasks_CreateTask",
        "parameters": [
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "description": "The user who save rate",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "createBackgroundNewTask",
            "in": "body",
            "required": true,
            "description": "The task to launch",
            "schema": {
              "$ref": "#/definitions/CreateBackgroundTaskDto"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackgroundTaskDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackgroundTaskDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "[NotSet] - Background tasks"
        ],
        "summary": "Get the result for a specific job by a linked object id.",
        "operationId": "BackgroundTasks_GetTaskStatus",
        "parameters": [
          {
            "type": "integer",
            "name": "linkedObjectId",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackgroundTaskDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "get": {
        "tags": [
          "[NotSet] - Background tasks"
        ],
        "operationId": "BackgroundTasks_GetTaskStatus2",
        "parameters": [
          {
            "type": "string",
            "name": "taskId",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackgroundTaskDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/tasks/{taskId}/cancel": {
      "post": {
        "tags": [
          "[NotSet] - Background tasks"
        ],
        "summary": "Cancel a specific job",
        "operationId": "BackgroundTasks_CancelTask",
        "parameters": [
          {
            "type": "string",
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "ID of the task to cancel",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackgroundTaskDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/tasks/search": {
      "get": {
        "tags": [
          "[NotSet] - Background tasks"
        ],
        "summary": "Search tasks with a query",
        "operationId": "BackgroundTasks_SearchTasks",
        "parameters": [
          {
            "type": "string",
            "name": "taskId",
            "in": "query",
            "description": "Id of a background task",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "userId",
            "in": "query",
            "description": "UserId used to create the background task",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "statuses",
            "in": "query",
            "description": "List of selected background task Statuses",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "types",
            "in": "query",
            "description": "List of selected background task Types",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "integer",
            "name": "linkedObjectId",
            "in": "query",
            "description": "Id of the linked object for a background task",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "displayName",
            "in": "query",
            "description": "Displayed name of the background task",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "Number of rates that can be returned.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageIndex",
            "in": "query",
            "description": "Index of page.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "validFrom",
            "in": "query",
            "description": "Start time after which the resulting background tasks started.",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "validTo",
            "in": "query",
            "description": "End time before which the resulting background tasks started.",
            "format": "date",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BackgroundTaskDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/tasks/{taskId}/parameter/{parameterKey}": {
      "get": {
        "tags": [
          "[NotSet] - Background tasks"
        ],
        "summary": "Return the value of a parameter task",
        "operationId": "BackgroundTasks_GetParameterValue",
        "parameters": [
          {
            "type": "string",
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "ID of the task",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "parameterKey",
            "in": "path",
            "required": true,
            "description": "The name of the parameter",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/tasks/{taskId}/parameters": {
      "get": {
        "tags": [
          "[NotSet] - Background tasks"
        ],
        "summary": "Return all parameters of the task",
        "operationId": "BackgroundTasks_GetParameters",
        "parameters": [
          {
            "type": "string",
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "ID of the task",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Parameters related to the background task matching the given task id",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BackgroundTaskParameterDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/impactedRules": {
      "post": {
        "tags": [
          "[NotSet] - Impacted Rules"
        ],
        "summary": "Get a list of impacted rules matching accessorial charge rate conditions",
        "operationId": "ImpactedRules_Get",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "description": "The query parameters",
            "schema": {
              "$ref": "#/definitions/ImpactedRuleQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A list of impacted rules",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ImpactedRuleDto"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountBaskets/getNamedAccountBaskets": {
      "post": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Get Named Account Baskets by MDM Ids",
        "operationId": "NamedAccountBasket_GetAll",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "description": "The search text of name, code and holder code of named account basket",
            "schema": {
              "$ref": "#/definitions/NamedAccountBasketQuery"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The named account basket matching the given identifier.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NamedAccountBasketDto"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountBaskets/getNamedAccount": {
      "get": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Get basket details by using named account card id",
        "operationId": "NamedAccountBasket_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "namedAccountCardId",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The named account basket matching the given identifier.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NamedAccountBasketDto"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountBaskets/{namedAccountCardId}/getBasketReference": {
      "get": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Get basket details by using named account card id",
        "operationId": "NamedAccountBasket_GetBasketInternalReferences",
        "parameters": [
          {
            "type": "integer",
            "name": "namedAccountCardId",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountBaskets/{namedAccountCardId}/references": {
      "get": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Get Internal References of named account card",
        "operationId": "NamedAccountBasket_GetInternalReferencesFromSearchText",
        "parameters": [
          {
            "type": "integer",
            "name": "namedAccountCardId",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "searchText",
            "in": "query",
            "required": true,
            "description": "The search text of internal reference code",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of internal reference code",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountBaskets/CheckIsDuplicate": {
      "get": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Check whether basket internal reference is duplicate or not",
        "operationId": "NamedAccountBasket_CheckIsDuplicate",
        "parameters": [
          {
            "type": "integer",
            "name": "namedAccountCardId",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "internalReference",
            "in": "query",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountBaskets": {
      "post": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Create a Named Account Basket",
        "operationId": "NamedAccountBasket_Create",
        "parameters": [
          {
            "name": "namedAccountBasketDto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateNamedAccountBasketDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "description": "Identifier of the user who creates the basket",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountBasketDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountBasketDto"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssueDto"
              }
            }
          }
        }
      }
    },
    "/namedAccountBaskets/{id}": {
      "put": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Updates the basket details",
        "operationId": "NamedAccountBasket_Update",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "namedAccountBasketDto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateNamedAccountBasketDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountBasketDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountBasketDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Deletes the basket",
        "operationId": "NamedAccountBasket_DeleteNamedAccountBasket",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountBaskets/namedAccountBaskets": {
      "get": {
        "tags": [
          "[NotSet] - Named Account Basket"
        ],
        "summary": "Get Named Account Baskets by search query",
        "operationId": "NamedAccountBasket_GetNamedAccountBaskets",
        "parameters": [
          {
            "type": "string",
            "name": "basketName",
            "in": "query",
            "description": "Name of the Named Account Basket",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "basketCode",
            "in": "query",
            "description": "Code of the Named Account Basket, AKA NAC Code is InternalReference",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "holderCode",
            "in": "query",
            "description": "Code of the Named Account Card, is InternalReference",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "namedAccountCardId",
            "in": "query",
            "description": "Named Account Card Id of Baskets",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "namedAccountBasketId",
            "in": "query",
            "description": "Named Account Basket Id of Named Account",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "namedAccountCustomerIds",
            "in": "query",
            "description": "Customer ids of Named Account",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "boolean",
            "name": "includeDeleted",
            "in": "query",
            "description": "whether named account deleted or not",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "includeExpired",
            "in": "query",
            "description": "whether named account expired or not",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "basketCodes",
            "in": "query",
            "description": "List of Code the Named Account Basket, AKA NAC Code is InternalReference",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "integer",
            "name": "namedAccountPageSize",
            "in": "query",
            "description": "Named Account page size",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "validOn",
            "in": "query",
            "description": "Date during which the Named Account must be valid on.",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "lastUpdatedOn",
            "in": "query",
            "description": "Date during which the Named Account must be last modified.",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "lastUpdatedBy",
            "in": "query",
            "description": "ID during which the Named Account must be last modified by.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "rateHolderIds",
            "in": "query",
            "description": "Customer Or Group ids of Named Account card",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NamedAccountBasketDto"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountCard": {
      "post": {
        "tags": [
          "Named Account"
        ],
        "summary": "Get Equipment SizeType Groups",
        "operationId": "NamedAccountCard_Get",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "The named account basket search dto",
            "schema": {
              "$ref": "#/definitions/NamedAccountBasketSearchDto"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The named accounts matching the given identifier.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NamedAccountDtoBase"
              }
            }
          },
          "404": {
            "description": ""
          },
          "400": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Named Account"
        ],
        "summary": "Get NamedAccount Cards",
        "operationId": "NamedAccountCard_GetNamedAccountCardSummary",
        "parameters": [
          {
            "type": "string",
            "name": "basketName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "lastUpdatedBy",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "lastUpdatedOn",
            "in": "query",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageIndex",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "rateHolderCustomerIds",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "namedAccountCustomerIds",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "nacCode",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NamedAccountCardSummaryDto"
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountCard/RateHolder": {
      "post": {
        "tags": [
          "Named Account"
        ],
        "summary": "Create rate holder",
        "operationId": "NamedAccountCard_Create",
        "parameters": [
          {
            "name": "namedAccountCard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamedAccountCardDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountCardDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountCardDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountCard/{id}": {
      "get": {
        "tags": [
          "Named Account"
        ],
        "summary": "Get NamedAccountCard By ID",
        "operationId": "NamedAccountCard_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountCardDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Named Account"
        ],
        "summary": "Update an named account card",
        "operationId": "NamedAccountCard_Update",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "updateNamedAccountCardDto",
            "in": "body",
            "required": true,
            "description": "update the named account card",
            "schema": {
              "$ref": "#/definitions/NamedAccountCardDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "description": "ID of the user updating the card",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountCardDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamedAccountCardDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/namedAccountCard/NamedAccounts": {
      "get": {
        "tags": [
          "Named Account"
        ],
        "summary": "Get NamedAccount Cards",
        "operationId": "NamedAccountCard_GetRateHolders",
        "parameters": [
          {
            "type": "string",
            "name": "nacCode",
            "in": "query",
            "description": "NAC Code for named account to at least one of which the rates must apply.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "rateHolderId",
            "in": "query",
            "description": "Id of BusinessEntityId to at least one of which the rates must apply.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isGroup",
            "in": "query",
            "description": "bool property for group or customer at least one of which the rates must apply.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "namedAccountId",
            "in": "query",
            "description": "Id of rate holder to at least one of which the rates must apply.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "asOfDate",
            "in": "query",
            "description": "AsOfDate is the time interval during which the rates must be valid.",
            "format": "date",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NamedAccountCardDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/oceanFreightRates/applicable": {
      "get": {
        "tags": [
          "[NotSet] - Applicable Ocean Freight Rates"
        ],
        "summary": "Get Applicable Ocean Freight Rates",
        "description": "Returns ocean freight rates that apply to the given parameters.",
        "operationId": "ApplicableOceanFreightRates_Get",
        "parameters": [
          {
            "type": "string",
            "name": "rateCardInternalReference",
            "in": "query",
            "description": "Reference of a specific ocean rate card to find.",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "customerIds",
            "in": "query",
            "description": "List of ids of the customer to which the resulting ocean rate cards can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "customerGroupIds",
            "in": "query",
            "description": "List of ids of the customer groups to which the resulting ocean rate cards can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "portOfLoadingIds",
            "in": "query",
            "description": "List of ids of port of loadings (POL) to which the resulting ocean rate cards can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "portOfDischargeIds",
            "in": "query",
            "description": "List of ids of port of discharge (POD) to which the resulting ocean rate cards can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "validAfter",
            "in": "query",
            "description": "Min date of the ocean rate cards validity period.",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "validBefore",
            "in": "query",
            "description": "Min date of the ocean rate cards validity period.",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "equipmentSizeAndTypeIds",
            "in": "query",
            "description": "Identifiers for the type of equipment.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "rateCardTypes",
            "in": "query",
            "description": "Type of the ocean rate card (0 = SVC/RA, 1 = Tariff, 2 = Special Quote).",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "publicationChannelIds",
            "in": "query",
            "description": "Publication Channels",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "vesselIds",
            "in": "query",
            "description": "List of ids of vessels to which the resulting ocean rate cards can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The rates applicable to the given parameters.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicableOceanFreightRateDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRule/{id}": {
      "get": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Get the freight pricing rule by ID",
        "operationId": "FreightPricingRule_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/FreightPricingRuleDto"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Update an existing freight pricing rule",
        "operationId": "FreightPricingRule_Update",
        "parameters": [
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "command",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFreightPricingRuleDto"
            },
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "forValidationOnly",
            "in": "query",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OperationResultDtoOfFreightPricingRuleDto"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssueDto"
              }
            }
          },
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Delete a freight pricing rule by ID",
        "operationId": "FreightPricingRule_Delete",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the entry to delete.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "description": "Identifier of the user issuing the command.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssueDto"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssue"
              }
            }
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRule/{id}/publishabilityCheck": {
      "get": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Get detailed publishability check information to know if the freight pricing rule can be published.",
        "operationId": "FreightPricingRule_PublishabilityCheck",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "freightChargeCodeId",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DetailedPublishabilityCheckResultDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRule/publishabilityCheck": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Get rate publishability information.",
        "operationId": "FreightPricingRule_PublishabilityCheckWhileRateFixing",
        "parameters": [
          {
            "name": "command",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFreightPricingRuleDto"
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "freightChargeCodeId",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DetailedPublishabilityCheckResultDto"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Get detailed publishability check information to know if the freight pricing rules can be published.",
        "operationId": "FreightPricingRule_PublishabilityCheckAll",
        "parameters": [
          {
            "type": "array",
            "name": "ids",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "integer",
            "name": "freightChargeCodeId",
            "in": "query",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublishabilityCheckResultDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRule/{id}/publish": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Publish the freight pricing rule",
        "operationId": "FreightPricingRule_Published",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRule/publish": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Publish the freight pricing rules by their ids.",
        "operationId": "FreightPricingRule_Published2",
        "parameters": [
          {
            "name": "ids",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/freightPricingRule": {
      "get": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Get the freight pricing rules by query or by ids including all the accessorials and conditions.",
        "operationId": "FreightPricingRule_GetAll",
        "parameters": [
          {
            "type": "integer",
            "name": "oceanRateCardId",
            "in": "query",
            "description": "Id of ocean rate card to which the resulting freight pricing rules can apply.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "reference",
            "in": "query",
            "description": "Reference of ocean freight rate to which the resulting ocean freight rate can apply.",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "portOfLoadingIds",
            "in": "query",
            "description": "IDs of the port of loading to which the resulting freight pricing rules can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "portOfDischargeIds",
            "in": "query",
            "description": "ID of the port of discharge to which the resulting freight pricing rules can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "originHierarchies",
            "in": "query",
            "description": "IDs of the origin to which the resulting inland rates can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "originDryPortsHierarchies",
            "in": "query",
            "description": "IDs of the origin dry ports to which the resulting inland rates can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "destinationHierarchies",
            "in": "query",
            "description": "IDs of the destination to which the resulting inland rates can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "destinationDryPortsHierarchies",
            "in": "query",
            "description": "IDs of the destination dry ports to which the resulting inland rates can apply.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "originTransportationMode",
            "in": "query",
            "description": "Indicate the origin transportation mode",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "destinationTransportationMode",
            "in": "query",
            "description": "Indicate the destination transportation mode",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "containerSizeTypes",
            "in": "query",
            "description": "Identifiers for the type  and size of containers.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "validFrom",
            "in": "query",
            "description": "Min date of the ocean rate cards validity period.",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "validTo",
            "in": "query",
            "description": "Max date of the ocean rate cards validity period.",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "Number of freight pricing rules to return.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageIndex",
            "in": "query",
            "description": "Index of page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "includeDeleted",
            "in": "query",
            "description": "Include deleted freight pricing rules.",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "includeExpired",
            "in": "query",
            "description": "Include expired freight pricing rules.",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "isListAllVersions",
            "in": "query",
            "description": "List of all versions of the rate.",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "publishedOn",
            "in": "query",
            "description": "PublishedOn date of the ocean rate cards falls within published periods.",
            "format": "date",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "freightPricingRuleStatuses",
            "in": "query",
            "description": "List of selected ocean rate status.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "boolean",
            "name": "isRatesWithNoAccessorial",
            "in": "query",
            "description": "List all no accessorial rates.",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "publicationChannelIds",
            "in": "query",
            "description": "Whether the resulting ocean rate must fall in selected Publication channel type.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "type",
            "in": "query",
            "description": "What type of rate are we looking for.",
            "x-schema": {
              "$ref": "#/definitions/FreightEntryType"
            },
            "x-nullable": false,
            "enum": [
              "Ocean",
              "InlandOrigin",
              "InlandDestination",
              "ArbitraryOrigin",
              "ArbitraryDestination"
            ]
          },
          {
            "type": "array",
            "name": "ids",
            "in": "query",
            "description": "The optional list of ids.",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The rates matching the given parameters.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FreightPricingRuleDto"
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Add a new freight pricing rule",
        "operationId": "FreightPricingRule_Create",
        "parameters": [
          {
            "type": "integer",
            "name": "UserId",
            "in": "header",
            "required": true,
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "command",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFreightPricingRuleDto"
            },
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "forValidationOnly",
            "in": "query",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OperationResultDtoOfFreightPricingRuleDto"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssueDto"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ValidationIssueDto"
              }
            }
          }
        }
      }
    },
    "/freightPricingRule/search": {
      "post": {
        "tags": [
          "[NotSet] - Freight Pricing Rule"
        ],
        "summary": "Get the freight pricing rules by query or by ids including all the accessorials and conditions.",
        "operationId": "FreightPricingRule_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "oceanRateCardId",
            "in": "query",
[...]
